<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Location App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            fetch('/get_location', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ latitude: latitude, longitude: longitude })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById("demo").innerHTML = "Latitude: " + data.latitude + "<br>Longitude: " + data.longitude;
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        getLocation(); // Call getLocation() immediately when the script is parsed
    </script>
</head>
<body>
    <nav>
        <div class="feature">
            Feature
        </div>
        <div class="Menu">
            Menu
        </div>
        <div class="Resources">
            Resources
        </div>
        <div class="logo-box">
            <div class="logo">

            </div>
        </div>
        <div class="Docs">
            Docs
        </div>
        <div class="nav-btn-box">
            <button class="nav-btn">Reserveer Nu</button>
        </div>
    </nav>
    <main>
        <div class="left-box"></div>
        <div class="right-box"></div>
        <div class="text-box">
            <h1>WELCOME</h1>
            <p class="tekst">
                Beleef een onvergetelijke culinaire ervaring met onze verfijnde gerechten en gastvrije ambiance. Perfect voor elke gelegenheid.Reserveer nu en geniet van de magie van Eten & Genieten!
            </p>
        </div>
    </main>
</body>
</html>
